[Unit]
Description=Simple Pico Server

[Service]
Type=simple
ExecStart=/usr/sbin/pico-server
ExecStartPost=/bin/echo "Pico Server gestartet"
User=root

[Install]
WantedBy=multi-user.target

