[Unit]
Description=Simple WSGI Server

[Service]
Type=simple
ExecStart=/usr/sbin/server
ExecStartPost=/bin/echo "Server gestartet"
User=www-data

[Install]
WantedBy=multi-user.target

